.booksPage-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
} 

.books-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
  .add-book {
    background-color: #c46dc4;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .add-book:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #4caf50;
  }

  .book-card-cover{
    border: 1px solid #e15fdd;
    margin: 10px;
    border-radius: 35px;
  }

  .book-card-cover:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 600px) {
    .books-container {
      grid-template-columns: 1fr;
    }
  }
  